
@font-face {
  font-family: 'CormorantGaramondBoldItalic';
  src: url(asset-path('fonts/CormorantGaramond-BoldItalic.eot'));
  src: local('☺'), url(asset-path('fonts/CormorantGaramond-BoldItalic.woff')) format('woff'), url(asset-path('fonts/CormorantGaramond-BoldItalic.ttf')) format('truetype'), url(asset-path('fonts/CormorantGaramond-BoldItalic.svg')) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProbaProRegular';
  src: url(asset-path('fonts/ProbaProRegular.eot'));
  src: local('☺'), url(asset-path('fonts/ProbaProRegular.woff')) format('woff'), url(asset-path('fonts/ProbaProRegular.ttf')) format('truetype'), url(asset-path('fonts/ProbaProRegular.svg')) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProbaProBold';
  src: url(asset-path('fonts/ProbaProBold.eot'));
  src: local('☺'), url(asset-path('fonts/ProbaProBold.woff')) format('woff'), url(asset-path('fonts/ProbaProBold.ttf')) format('truetype'), url(asset-path('fonts/ProbaProBold.svg')) format('svg');
  font-weight: normal;
  font-style: normal;
}


/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */
* {
  outline: none;
}
button {
  cursor: pointer;
  transition: 0.5s ease;
}
a:hover {
  text-decoration: none;
}
a {
  text-decoration: underline;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
select {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
}
a {
  text-decoration-skip-ink: none;
}
.text{
  font: 20px/1.5 ProbaProRegular;
}
.text h1{
  font-size: 55px;
  line-height: 66px;
  margin: 0 0 30px 0;
  font-family: ProbaProBold;
}
.text h2{
  font-size: 36px;
  line-height: 50px;
  margin: 0 0 30px 0;
  font-family: ProbaProBold;
}
.text h3{
  font-size: 24px;
  margin: 0 0 20px 0;
  font-family: ProbaProBold;
}
.text p{
  margin: 0 0 30px 0;
}
.text b ,
.text strong{
  font-weight: normal;
  font-family: ProbaProBold
}
.text em{
  font-style: italic;
}
.text ol li {
  margin-bottom: 20px;
}
.text ul li:before {
  content: '';
  float: left;
  width: 12px;
  height: 12px;
  background: #294984;
  position: absolute;
  margin-left: -30px;
  top: 9px;
}
.text ul li {
  margin-bottom: 20px;
  position: relative;
}
.text ul{
  list-style-type: none;
  padding: 0 0 0 50px;
}
.text ol{
  list-style-type: decimal;
  padding: 0;
}
.text ol {
  counter-reset: myCounter;
}
.text ol li{
  list-style: none;
  padding-left: 37px;
  position: relative;
  font: 18px/1.22 ProbaProRegular;
}
.text ol li:before {
  counter-increment: myCounter;
  content:counter(myCounter)'.';
  color: #294984;
  font-family: ProbaProBold;
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 0;
}
.text table{
  margin: 0 0 30px 0;
  border-collapse: collapse;
  width: 100%;
}
.text table {
  border: none;
}
.text tbody tr + tr {
  border-top: 1px solid #e7edf1;
}
.text tbody tr {
  border-left: 1px solid #e7edf1;
  border-right: 1px solid #e7edf1;
  border-bottom: 1px solid #e7edf1;
}
.text th {
  border: none;
  text-align: left;
  background: #faeebb;
  font: 14px ProbaProBold;
  height: 42px;
  vertical-align: middle;
}
.text td:first-child {
  font-family: ProbaProBold;
}
.text td {
  height: 40px;
  vertical-align: middle;
  border: none;
  font: 14px ProbaProRegular;
  color: #666666;
}
.text th, .text td {
  padding: 5px 10px;
}
::-webkit-input-placeholder {color:inherit; opacity: 1;}
::-moz-placeholder          {color:inherit; opacity: 1;}
:-moz-placeholder           {color:inherit; opacity: 1;}
:-ms-input-placeholder      {color:inherit; opacity: 1;}

html {
  height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}
body {
  font: 14px/1.5 ProbaProRegular, sans-serif;
  width: 100%;
  height: 100%;
  color: #333333;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header .logo span:nth-child(2) {
  font: 14px/23px ProbaProRegular;
  color: #333333;
}
.header .logo span:nth-child(1) {
  font: 24px/23px ProbaProBold;
  color: #294984;
}
.header .logo span {
  display: block;
}
.header .logo a {
  text-decoration: none;
}
.header .logo:after {
  content: '';
  float: left;
  width: 12px;
  top: 50%;
  bottom: 0;
  left: 0;
  position: absolute;
  /*background: #efd25a;*/
  background: #ffe358;
}
.header .logo:before {
  content: '';
  float: left;
  width: 12px;
  top: 0;
  bottom: 50%;
  left: 0;
  position: absolute;
  /*background: #2669d2;*/
  background: #225fce;
}
.header .logo {
  float: left;
  position: relative;
  padding-left: 25px;
  margin: 15px 0;
}
.header > nav > ul li:hover ul {
  display: block;
}
.header > nav > ul ul li.active a ,
.header > nav > ul ul li a:hover {
  color: #294984;
}
.header > nav > ul ul li a {
  padding-left: 30px;
  font: 16px/20px ProbaProRegular;
  color: #333333;
  transition: 0.5s ease;
  position: relative;
  text-decoration: none;
}
.header > nav > ul ul li.active a:before ,
.header > nav > ul ul li a:hover:before {
	background: #fad34f;
}
.header > nav > ul ul li a:before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -6px;
	float: left;
	width: 4px;
	height: 12px;
	background: #e4e9ee;
	transition: 0.5s ease;
}
.header > nav > ul ul li + li {
  margin-top: 28px;
}
.header > nav > ul ul {
  display: none;
  box-shadow: 0px 14px 27px 0px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: absolute;
  white-space: nowrap;
  padding: 20px 34px 25px;
  left: -34px;
  top: 100%;
}
.header > nav > ul > li.active > a ,
.header > nav > ul > li:hover > a {
  box-shadow: -4px 0 #ffe358 inset, 4px 0 #294984 inset;
  color: #294984;
}
.header > nav > ul > li > a {
  display: block;
  text-decoration: none;
  font: 14px/30px ProbaProBold;
  text-transform: uppercase;
  color: #333333;
  transition: 0.5s ease;
  padding: 0 21px;
  box-sizing: border-box;
}
.header > nav > ul > li {
  float: left;
  margin: 0 36px;
  padding: 23px 0;
  position: relative;
}
.header > nav > ul {

}
.header > nav {
  float: left;
}
.header .search_soc .soc a:hover {
  animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.header .search_soc .soc a.yt:hover {
  background: image-url('soc_ico.png') -21px -38px no-repeat transparent;
}
.header .search_soc .soc a.yt {
  width: 21px;
  height: 14px;
  background: image-url('soc_ico.png') 0 -38px no-repeat transparent;
}
.header .search_soc .soc a.fb:hover {
  background: image-url('soc_ico.png') -21px -17px no-repeat transparent;
}
.header .search_soc .soc a.fb {
  width: 13px;
  height: 21px;
  background: image-url('soc_ico.png') 0 -17px no-repeat transparent;
}
.header .search_soc .soc a.tw:hover {
  background: image-url('soc_ico.png') -21px 0 no-repeat transparent;
}
.header .search_soc .soc a.tw {
  width: 21px;
  height: 17px;
  background: image-url('soc_ico.png') 0 0 no-repeat transparent;
}
.header .search_soc .soc a {
  float: left;
  margin: 0 12px;
  text-indent: -9999px;
}
.header .search_soc .soc {
  float: left;
}
.header .search_soc .search > form button {
  float: left;
  width: 24px;
  border: none;
  background: image-url('search_ico2.png') 50% 50% no-repeat transparent;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
.header .search_soc .search > form input {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-right: 30px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #294984;
  height: 32px;
  font: 12px ProbaProRegular;
  color: #333333;
}
.page_search .header .search_soc .search > form {
  display: block !important;
}
.header .search_soc .search > form {
  display: none;
  float: left;
  width: 195px;
  position: absolute;
  z-index: 2;
  background: #fff;
  right: 0;
  top: 0;
}
.header .search_soc .search > span {
  cursor: pointer;
  float: left;
  width: 100%;
  height: 100%;
  background: image-url('search_ico1.png') 50% 50% no-repeat transparent;
}
.header .search_soc .search {
  margin-right: 35px;
  float: left;
  height: 32px;
  width: 24px;
  position: relative;
}
.header .search_soc {
  float: left;
}
.header {
  clear: both;
  position: relative;
  z-index: 3;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
  width: 100%;
  padding: 0 0 90px;
  position: relative;
  overflow: hidden;
}
.middle:after {
  display: table;
  clear: both;
  content: '';
}
.page_news .container-theme {
  overflow: visible;
}
.container-theme {
  width: 100%;
  float: left;
  overflow: hidden;
}
.container_wrapp {
  position: relative;
}
.no_sidebar .container_wrapp:before ,
.page_search .container_wrapp:before {
  display: none;
}
.container_wrapp:before {
  content: '';
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
  left: calc( 100% - 267px );
  top: 0;
  background: #f6fbff;
}
.container_wrapp:after {
  display: table;
  clear: both;
  content: '';
  width: 100%;
}
.no_sidebar .content {
  padding: 0;
}
main.content {
  padding: 0 310px 0 0;
  position: relative;
}
.history_page .wrapp1170.l_padding {
  padding-left: 0;
}
.wrapp1170.l_padding {
  padding-left: 98px;
  box-sizing: border-box;
}
.clearfix:after {
  display: table;
  clear: both;
  content: '';
  width: 100%;
}
.wrapp1170 {
  width: 1170px;
  max-width: 100%;
  clear: both;
  margin: 0 auto;
}
.flex_align_b {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.flex_align_a {
  justify-content: space-around;
  -webkit-justify-content: space-around;
}
.flex_wrapp {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex_va_c {
  align-items: center;
}
.flex_va_b {
  align-items: flex-end;
}

/* Right Sidebar
-----------------------------------------------------------------------------*/
.right_sidebar {
  float: left;
  width: 267px;
  margin-left: -267px;
  position: relative;
  /*transition: 0.00005s ease;*/
}


/* Footer
-----------------------------------------------------------------------------*/
//.footer > .wrapp1170 {
//	height: 90px;
//}
//.footer .soc a:hover {
//	animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
//	transform: translate3d(0, 0, 0);
//	backface-visibility: hidden;
//	perspective: 1000px;
//}
//.footer .soc a.yt {
//	width: 22px;
//	height: 16px;
//	background: image-url('soc_ico.png') -31px -52px no-repeat transparent;
//}
//.footer .soc a.tw {
//	width: 20px;
//	height: 18px;
//	background: image-url('soc_ico.png') -11px -52px no-repeat transparent;
//}
//.footer .soc a.fb {
//	width: 11px;
//	height: 22px;
//	background: image-url('soc_ico.png') 0 -52px no-repeat transparent;
//}
//.footer .soc a + a {
//	margin-left: 12px;
//}
//.footer .soc a {
//	float: left;
//	text-indent: -9999px;
//}
//.footer .soc {
//	float: left;
//}
//.footer .cop {
//	padding-left: 48px;
//	color: #fff;
//	background: image-url('ico_cop.png') 0 50% no-repeat transparent;
//	font: 14px/16px ProbaProRegular;
//}
//.footer {
//	width: 100%;
//	margin: -90px auto 0;
//	height: 90px;
//	background: image-url('footer_bg.png') 50% 50% repeat transparent;
//	/*background: #ccc;*/
//	position: relative;
//}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(3px, 0, 0);
  }
}
@-webkit-keyframes top_bot{
  0%{
    background-position: 50% 50%;
  }
  50%{
    background-position: 50% calc( 50% - 2px );
  }
  100%{
    background-position: 50% calc( 50% + 2px );
  }
}
.go_top:hover {
  animation: top_bot 1.5s ease infinite;
}
.go_top {
  position: fixed;
  bottom: 120px;
  right: 50%;
  margin-right: -640px;
  float: left;
  cursor: pointer;
  width: 45px;
  height: 45px;
  background: image-url('go_top.png') 50% 50% no-repeat transparent;
  display: none;
  box-sizing: border-box;
  border: 2px solid #1e5787;
}
.main_slider .item img {

}
.main_slider .item.alig_bot  .title {
  background: image-url('front_slider_shd.png') 0 100% repeat-x transparent;
}
.main_slider .item .title {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font: 30px ProbaProBold;
  box-sizing: border-box;
  padding: 40px;
  color: #fff;
}
.main_slider .item a {
  text-decoration: none;
}
.main_slider .item {
  position: relative;
}
.main_slider_wrapp {
  padding: 0 58px;
  max-height: 496px;
  overflow: hidden;
}
.slick-next {
  background: image-url('front_slider_shd.png') 100% 0 no-repeat transparent;
  float: left;
  width: 30px;
  height: 45px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -22px;
  border: none;
  text-indent: -9999px;
  z-index: 2;
}
.slick-prev {
  background: image-url('front_slider_shd.png') 0 0 no-repeat transparent;
  float: left;
  width: 30px;
  height: 45px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -22px;
  border: none;
  text-indent: -9999px;
  z-index: 2;
}
.sb_menu > ul li.active a ,
.sb_menu > ul li a:hover {
  background: #fff;
  color: #294984;
}
.sb_menu > ul li.active:before ,
.sb_menu > ul li:hover:before {
  background: #ffe358;
  top: 0;
  bottom: 0;
}
.sb_menu > ul li:before {
  content: '';
  position: absolute;
  float: left;
  left: 12px;
  top: 18px;
  bottom: 18px;
  width: 4px;
  background: #e4e9ee;
  transition: 0.5s ease;
  z-index: 1;
}
.sb_menu > ul li.active + li a:after ,
.sb_menu > ul li.active a:after ,
.sb_menu > ul li:hover + li a:after ,
.sb_menu > ul li + li:hover a:after {
  left: 100%;
}
.sb_menu > ul li.active:last-child a:before ,
.sb_menu > ul li:last-child:hover a:before {
  left: 100%;
}
.sb_menu > ul li:last-child a:before {
  content: '';
  height: 1px;
  position: absolute;
  left: 12px;
  right: 0;
  bottom: 0;
  transition: 0.5s ease;
  background: #e4e9ee;
}
.sb_menu > ul li + li a:after {
  content: '';
  height: 1px;
  position: absolute;
  left: 12px;
  right: 0;
  top: 0;
  transition: 0.5s ease;
  background: #e4e9ee;
}
.sb_menu > ul li a {
  display: block;
  text-decoration: none;
  font: 16px/20px ProbaProRegular;
  padding: 14px 5px 14px 40px;
  color: #333333;
  position: relative;
  transition: 0.5s ease;
}
.sb_menu > ul li {
  position: relative;
}
.sb_menu > div {
  padding-top: 30px;
  padding: 30px 0 20px 40px;
  text-transform: uppercase;
  font: 24px/26px ProbaProBold;
}
.themes_list:before {
  content: '';
  width: 1px;
  left: 30px;
  top: 0;
  bottom: 0;
  background: #f1eee2;
  position: absolute;
}
.themes_list .list_item .items .item .data .item_bottom div a:hover {
  text-decoration: underline;
}
.themes_list .list_item .items .item .data .item_bottom div a {
  text-decoration: none;
  margin-bottom: 5px;
}
.themes_list .list_item .items .item .data .item_bottom div {
  float: right;
  font: 14px/16px ProbaProRegular;
  color: #b4bcc3;
  text-align: center;
  max-width: 280px;
}
.themes_list .list_item .items .item .data .item_bottom span {
  float: left;
  padding-left: 22px;
  background: image-url('time.png') 0 0 no-repeat transparent;
  font: 12px/16px ProbaProRegular;
  color: #b4bcc3;
  margin-bottom: 5px;
}
.themes_list .list_item .items .item .data .item_bottom {
  overflow: hidden;
}
.themes_list .list_item .items .item .data .body a:hover {
  text-decoration: underline;
}
.themes_list .list_item .items .item .data .body a {
  text-decoration: none;
}
.themes_list .list_item .items .item .data .body {
  margin-bottom: 15px;
}
.themes_list .list_item .items .item .data > a:hover {
  text-decoration: underline;
}
.themes_list .list_item .items .item .data > a {
  font: 18px/21px ProbaProRegular;
  text-decoration: none;
  color: #202020;
  margin-bottom: 18px;
  display: block;
}
.themes_list .list_item .items .item .data {
  padding: 18px 20px 13px 25px;
}

.themes_list .list_item .items .item.single > .data .item_bottom div {
  max-width: calc( 100% - 60px );
  text-align: right;
}
.themes_list .list_item .items .item.single > a + .data {
  padding-left: 30px;
}
.themes_list .list_item .items .item.single > .data {
  overflow: hidden;
  padding: 22px 20px 20px 25px;
}
.themes_list .list_item .items .item.single > .image_link {
  max-width: 251px;
  float: left;
}
.themes_list .list_item .items .item.single {
  width: 100%;
}
.themes_list .list_item .items .item:hover {
  background-color: #f6fbff;
}
.themes_list .list_item .items .item {
  width: 370px;
  max-width: 100%;
  margin-bottom: 35px;
  border: 1px solid #edf5fc;
  box-sizing: border-box;
  transition: 0.5s ease;
}
.themes_list .list_item .items {
  padding-left: 25px;
  overflow: hidden;
}
.themes_list .list_item .date div:nth-child(2) {
  font: 9px/2 ProbaProRegular;
  text-transform: uppercase;
}
.themes_list .list_item .date div:nth-child(1) {
  font: 24px/30px ProbaProBold;
}
.themes_list .list_item .date {
  float: left;
  width: 65px;
  box-sizing: border-box;
  border-left: 4px solid #225fce;
  border-right: 4px solid #ffe358;
  text-align: center;
  color: #333333;
  background: #fff;
}
.themes_list .list_item {
  position: relative;
}
.themes_list {
  position: relative;
}
.show_more span:hover {
  cursor: pointer;
  animation: show_more_b 1s ease infinite;
}
.show_more span {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  padding-right: 32px;
  font: 18px/20px ProbaProBold;
  padding-bottom: 3px;
  color: #294984;
  background: image-url('show_more_b.png') 100% 50% no-repeat transparent;
}
.show_more {
  text-align: center;
  padding-bottom: 25px;
}
@keyframes show_more_b {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 100% calc( 50% - 3px );
  }
  100% {
    background-position: 100% calc( 50% + 3px );
  }
}
@keyframes show_more {
  0% {
    background-position: calc( 100% - 3px ) 50%;
  }
  50% {
    background-position: calc( 100% - 6px ) 50%;
  }
  100% {
    background-position: calc( 100% - 0px ) 50%;
  }
}
@keyframes go_home {
  0% {
    background-position: 3px 50%;
  }
  50% {
    background-position: 6px 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.region_bottom.w_line > .inner_wrap {
  position: relative;
}
.region_bottom.w_line:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #f1eee2;
  margin-left: -555px;
}
.region_bottom {
  position: relative;
}
.front .region_top {
  margin-bottom: 40px;
}
.region_top .line {
  border-bottom: 1px solid #e4e9ee;
}
.breadcrumbs > ul a:hover {
  text-decoration: underline;
}
.breadcrumbs > ul a {
  text-decoration: none;
}
.breadcrumbs > ul li span {
  width: 29px;
  height: 22px;
  background: image-url('bread_arr.png') 50% 50% no-repeat transparent;
  display: inline-block;
  vertical-align: top;
}
.breadcrumbs > ul li {
  display: inline;
  vertical-align: top;
  font: 12px/22px ProbaProRegular;
}
.breadcrumbs > ul {
  color: #999999;
  font-size: 0;
  width: 80%;
}
a.go_back:hover {
  margin-top: 16px;
  animation: go_home 1s ease infinite;
  color: #294984;
}
a.go_back {
  float: right;
  margin-left: 20px;
  margin-top: 16px;
  padding-left: 33px;
  text-decoration: none;
  background: image-url('go_home.png') 3px 50% no-repeat transparent;
  font: 12px/22px ProbaProRegular;
  color: #999999;
  height: 21px;
  transition: 0.5s ease;
}
.breadcrumbs h1 {
  font: 70px/1 ProbaProBold;
  color: #000;
  margin-top: 20px;
}
.breadcrumbs {
  padding: 16px 0 20px;
}
.search_text .go_back {
  margin-top: 5px;
}
.search_text {
  padding: 25px 0 35px;
  font: 24px/32px ProbaProBold;
  color: #a3a3a3;
}
.view_news > .wrapp1170 > .date div:nth-child(2) {
  font: 9px/2 ProbaProRegular;
  text-transform: uppercase;
}
.view_news > .wrapp1170 > .date div:nth-child(1) {
  font: 24px/30px ProbaProBold;
}
.view_news > .wrapp1170 > .date:before {
  content: '';
  height: 55px;
  background: #fff;
  float: left;
  width: 100%;
  position: absolute;
  top: -55px;
  left: 0;
}
.view_news > .wrapp1170 > .date {
  float: left;
  width: 65px;
  box-sizing: border-box;
  border-left: 4px solid #225fce;
  border-right: 4px solid #ffe358;
  text-align: center;
  color: #333333;
  background: #fff;
  position: relative;
  margin-top: 55px;
}
.view_news:before {
  content: '';
  width: 1px;
  left: 50%;
  margin-left: -555px;
  top: 0;
  bottom: 0;
  background: #f1eee2;
  position: absolute;
}
.view_news > .wrapp1170 .item_bottom {
  overflow: hidden;
  clear: left;
  margin-bottom: 30px;
}
.view_news > .wrapp1170 .item_bottom div a:hover {
  text-decoration: underline;
}
.view_news > .wrapp1170 .item_bottom div a {
  text-decoration: none;
  margin-bottom: 5px;
}
.view_news > .wrapp1170 .item_bottom div {
  float: right;
  font: 14px/16px ProbaProRegular;
  color: #b4bcc3;
  text-align: right;
  max-width: calc( 100% - 60px );
}
.view_news > .wrapp1170 .item_bottom span {
  float: left;
  padding-left: 22px;
  background: image-url('time.png') 0 0 no-repeat transparent;
  font: 12px/16px ProbaProRegular;
  color: #b4bcc3;
  margin-bottom: 5px;
}
.view_news .news_top_image img {
  max-width: 960px;
  margin-bottom: 15px;
}
@media screen and (min-width: 1025px) {
  .view_news .news_top_image img {
    max-width: 517px;
  }
}
@media screen and (max-width: 490px) {
  .breadcrumbs > ul {
    width: 100%;
    white-space: nowrap;
    display: inline-block;
  }
}
@media screen and (min-width: 1171px) {
  .view_news .news_top_image img {
    max-width: calc( 50vw - 585px + 492px );
  }
}
.view_news .news_top_image {
  float: right;
  width: 492px;
  margin-left: 25px;
}
/*.view_news .h1_wrapp {*/
.view_news  .h1_wrapp {
  padding-top: 30px;
  display: flex;
}
/*.view_news .h1_wrapp h1 {*/
.view_news .h1_wrapp h1 {
  padding-top: 10px;
}
.view_news .news_top_image + .h1_wrapp h1 {
  padding: 10px 25px 20px 0;
  background: rgba(255,255,255,0.85);
  box-sizing: border-box;
  margin-right: -145px
}
.view_news .news_container {
  vertical-align: top;
  padding-left: 98px;
}
.view_news .inner_wrap {
  position: relative;
}
.view_news {
  position: relative;
  width: 100%;
  font-size: 0;
}
.turn_right {
  float: right;
  margin-left: 30px;
  margin-bottom: 10px;
}
.turn_left {
  float: left;
  margin-right: 30px;
  margin-bottom: 10px;
}
.big_img {
  text-align: center;
  margin-bottom: 30px;
}
.gallery_wrapp .item img {
  display: block;
  margin: 0 auto;
  border: 1px solid #edf5fc;
}
.gallery_wrapp a.post_gallery:hover:after {
  opacity: 1;
}
.gallery_wrapp a.post_gallery:after {
  z-index: 2;
  background: image-url('zoom.png') 50% 50% no-repeat rgba(239,210,90,0.8);
  content: '';
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  opacity: 0;
  transition: 0.5s ease;
}
.gallery_wrapp a.post_gallery {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.gallery_wrapp .item {
  display: inline-block;
  vertical-align: top;
  margin: 0 13px;
  text-align: center;
}
.big_img + .gallery_wrapp .gallery:before {
  display: none;
}
.gallery_wrapp .gallery:before {
  content: '';
  top: 35px;
  bottom: 35px;
  left: 0px;
  right: 0px;
  position: absolute;
  background: #f4fbff;
}
.big_img + .gallery_wrapp {
  margin-top: -94px;
}
.big_img + .gallery_wrapp .slick-next ,
.big_img + .gallery_wrapp .slick-prev {
  background-color: #fff;
}
.gallery_wrapp .slick-prev {
  width: 41px;
  height: 46px;
  margin-top: -23px;
  background: image-url('gallery_arr_l.png') 50% 50% no-repeat transparent;
}
.gallery_wrapp .slick-next {
  width: 41px;
  height: 46px;
  margin-top: -23px;
  background: image-url('gallery_arr_r.png') 50% 50% no-repeat transparent;
}
.gallery_wrapp {
  padding-left: 98px;
  box-sizing: border-box;
  font-size: 0;
  position: relative;
  margin-bottom: 35px;
}
.text blockquote {
  padding-right: 175px;
  padding-left: 170px;
  background: image-url('video_q_l.png') 92px 0 no-repeat, image-url('video_q_r.png') calc( 100% - 96px ) 100% no-repeat;
  display: block;
  font: 26px CormorantGaramondBoldItalic;
  color: #2d5ca6;
  margin-bottom: 50px;
}
.video iframe {
  display: block;
  margin: 0 0 60px;
}
.another_news_slider .slider_controls .prev:before {
  content: '';
  background: image-url('another_news_arr_l.png') 0 0 no-repeat transparent;
}
.another_news_slider .slider_controls .prev:hover {
  background: image-url('another_news_arr_l.png') 0 0 no-repeat transparent;
  color: #294984;
}
.another_news_slider .slider_controls .prev {
  position: absolute;
  left: 0;
  top: 50%;
  padding-left: 41px;
  text-transform: uppercase;
  font: 10px/24px ProbaProRegular;
  margin-top: -12px;
  background: image-url('another_news_arr_l2.png') 0 0 no-repeat transparent;
  color: #b0bcc7;
  cursor: pointer;
  text-decoration: none;
}
.another_news_slider .slider_controls .next:before {
  content: '';
  background: image-url('another_news_arr_r.png') 100% 0 no-repeat transparent;
}
.another_news_slider .slider_controls .next:hover {
  background: image-url('another_news_arr_r.png') 100% 0 no-repeat transparent;
  color: #294984;
}
.another_news_slider .slider_controls .next {
  position: absolute;
  right: 0;
  top: 50%;
  padding-right: 41px;
  text-transform: uppercase;
  font: 10px/24px ProbaProRegular;
  margin-top: -12px;
  background: image-url('another_news_arr_r2.png') 100% 0 no-repeat transparent;
  color: #b0bcc7;
  cursor: pointer;
  text-decoration: none;
}
.another_news_slider .item {
  margin: 0 15px;
  border: 1px solid #edf5fc;
  padding: 16px 15px;
  box-sizing: border-box;
}
.another_news_slider .item_bottom div a:hover {
  text-decoration: underline;
}
.another_news_slider .item_bottom div a {
  text-decoration: none;
  margin-bottom: 5px;
}
.another_news_slider .item_bottom div {
  float: right;
  font: 14px/16px ProbaProRegular;
  color: #b4bcc3;
  text-align: right;
  max-width: calc( 100% - 60px );
}
.another_news_slider .item_bottom span {
  float: left;
  padding-left: 22px;
  background: image-url('time.png') 0 0 no-repeat transparent;
  font: 12px/16px ProbaProRegular;
  color: #b4bcc3;
  margin-bottom: 5px;
}
.another_news_slider .item_bottom {
  overflow: hidden;
}
.another_news_slider .date div:nth-child(2) {
  display: inline-block;
  text-transform: uppercase;
  font: 9px/1 ProbaProRegular;
}
.another_news_slider .date div:nth-child(1) {
  display: inline-block;
  margin-right: 9px;
  font: 24px/1 ProbaProBold;
}
.another_news_slider .date {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 15px;
  padding: 11px 10px 7px;
  background: #f6fbff;
}
.another_news_slider .item > a:hover {
  text-decoration: underline;
}
.another_news_slider .item > a {
  clear: both;
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  font: 18px/20px ProbaProBold;
}
.another_news_slider {
  margin: 75px 0;
  padding: 0 120px;
  position: relative;
  font-size: 0;
}
.share_links {
  position: absolute;
  background: #fff;
  left: 50%;
  padding: 6px 0;
  top: 130px;
  margin-left: -577px;
}
.share_links a.gg:hover {
  background: image-url('soc_ico.png') -25px -74px no-repeat transparent;
}
.share_links a.gg {
  width: 25px;
  height: 15px;
  margin-left: 2px;
  background: image-url('soc_ico.png') 0 -74px no-repeat transparent;
}
.share_links a.fb:hover {
  background: image-url('soc_ico.png') -21px -17px no-repeat transparent;
}
.share_links a.fb {
  width: 13px;
  height: 21px;
  margin-left: 3px;
  background: image-url('soc_ico.png') 0 -17px no-repeat transparent;
}
.share_links a.tw:hover {
  background: image-url('soc_ico.png') -21px 0 no-repeat transparent;
}
.share_links a.tw {
  width: 21px;
  height: 17px;
  background: image-url('soc_ico.png') 0 0 no-repeat transparent;
}
.share_links a + a {
  margin-top: 19px;
}
.share_links a:hover {
  animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.share_links a {
  text-indent: -9999px;
  float: left;
  clear: both;
}
.w_share {
  position: relative;
}
.tac {
  text-align: center;
}
.share_line span {
  margin-right: 18px;
  font: 20px ProbaProBold;
  display: inline-block;
  vertical-align: middle;
}
.share_line a.gg:hover {
  background: image-url('soc_ico.png') -25px -74px no-repeat transparent;
}
.share_line a.gg {
  width: 25px;
  height: 15px;
  background: image-url('soc_ico.png') 0 -74px no-repeat transparent;
}
.share_line a.fb:hover {
  background: image-url('soc_ico.png') -21px -17px no-repeat transparent;
}
.share_line a.fb {
  width: 13px;
  height: 21px;
  background: image-url('soc_ico.png') 0 -17px no-repeat transparent;
}
.share_line a.tw:hover {
  background: image-url('soc_ico.png') -21px 0 no-repeat transparent;
}
.share_line a.tw {
  width: 21px;
  height: 17px;
  background: image-url('soc_ico.png') 0 0 no-repeat transparent;
}
.share_line a:hover {
  animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.share_line a {
  margin-right: 27px;
  display: inline-block;
  vertical-align: middle;
}
.share_line {
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 0;
}
.line_date {
  margin-bottom: 20px;
  padding-left: 20px;
  background: image-url('line_date.png') 0 50% no-repeat transparent;
  font: 12px/14px ProbaProRegular;
  color: #b4bcc3;
}
.history_slider .item {
  position: relative;
}
.history_slider .item.alig_bot  .title {
  background: image-url('front_slider_shd.png') 0 100% repeat-x transparent;
}
.history_slider .item .title span {
  display: block;
  padding: 0 35px;
  box-sizing: border-box;
}
.history_slider .item .title {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font: 50px/1 ProbaProBold;
  box-sizing: border-box;
  padding: 45px 40px;
  color: #fff;
}
.history_slider .item a {
  text-decoration: none;
}
.history_slider_wrapp .links a.r_link {
  background: image-url('front_slider_shd.png') 100% 0 no-repeat transparent;
  float: left;
  width: 30px;
  height: 45px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -22px;
  border: none;
  text-indent: -9999px;
  z-index: 2;
}
.history_slider_wrapp .links a.l_link {
  background: image-url('front_slider_shd.png') 0 0 no-repeat transparent;
  float: left;
  width: 30px;
  height: 45px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -22px;
  border: none;
  text-indent: -9999px;
  z-index: 2;
}
.history_slider_wrapp {
  width: 1794px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}
.history_slider {
  width: 1794px;
  max-width: 100%;
  margin: 0 auto;
}
.calendar_wrapp .select_mounth .m {
  font: 10px/16px ProbaProRegular;
  text-transform: uppercase;
  padding-bottom: 3px;
}
.calendar_wrapp .select_mounth .y {
  font: 16px/22px ProbaProRegular;
  padding-top: 3px;
}
.calendar_wrapp .select_mounth input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  float: left;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}
.calendar_wrapp .select_mounth {
  float: left;
  min-width: 65px;
  box-sizing: border-box;
  border: 1px solid #b0bcc7;
  padding: 0 10px;
  color: #9fa8b1;
  text-align: center;
  position: relative;
}
.calendar_wrapp .select_day .slick-prev {
  width: 42px;
  height: 46px;
  margin-top: -23px;
  background: image-url('gallery_arr_l.jpg') 50% 50% no-repeat #fff;
  box-sizing: border-box;
  border: 1px solid #acbdc9
}
.calendar_wrapp .select_day .slick-next {
  width: 42px;
  height: 46px;
  margin-top: -23px;
  background: image-url('gallery_arr_r.jpg') 50% 50% no-repeat #fff;
  box-sizing: border-box;
  border: 1px solid #acbdc9
}
.calendar_wrapp .select_day > ul ,
.calendar_wrapp .select_day > div {
  padding: 0 60px;
}
.calendar_wrapp .select_day .day > div span:nth-child(2) {
  display: block;
  font: 10px/14px ProbaProRegular;
  text-transform: uppercase;
  padding-bottom: 4px;
}
.calendar_wrapp .select_day .day > div span:nth-child(1) {
  display: block;
  font: 16px/22px ProbaProBold;
  padding-top: 6px;
}
.calendar_wrapp .select_day .day > div a {
  text-decoration: none;
  color: #333333;
  display: block;
  transition: 0.5s ease;
}
.calendar_wrapp .select_day .day a:hover ,
.calendar_wrapp .select_day .day.selected > div ,
.calendar_wrapp .select_day .day.current > div {
  background: #faeebb;
  color: #333333;
}
.calendar_wrapp .select_day .day > div {
  width: 40px;
  margin: 0 auto;
  max-width: 100%;
}
.calendar_wrapp .select_day .day {
  text-align: center;
  color: #b0bcc7;
}
.calendar_wrapp .select_day {
  padding-left: 26px;
  overflow: hidden;
  height: 46px;
}
.calendar_wrapp {
  overflow: hidden;
  padding: 17px 0;
}
.datepicker--cell.-disabled- {

  color: #b0bcc7;
}
.datepicker--cell {
  font: 14px ProbaProBold;
}
.datepicker--cell.current {
  color: #000;
}
.datepicker--cell.-selected- {
  background: #faeebb;
  color: #000;
}
.datepicker--nav-title {
  font: 15px ProbaProBold;
}
select {
  box-sizing: border-box;
  border: 1px solid #b5c0cb;
  height: 41px;
  padding: 0 30px 0 10px;
  color: #9fa8b1;
  font: 14px/38px ProbaProBold;
  background: image-url('ssel_arr.png') calc( 100% - 9px ) 50% no-repeat transparent;
}
.mob_select select {
  float: left;
  width: calc( 50% - 15px );
  text-transform: uppercase;
}
.mob_select {
  display: none;
  padding-top: 15px;
}
.mob_menu.show > span {
  background: image-url('mob_menu_ico2.png') 50% 50% no-repeat transparent;
}
.mob_menu > span {
  float: left;
  width: 44px;
  height: 30px;
  background: image-url('mob_menu_ico1.png') 50% 50% no-repeat transparent;
  cursor: pointer;
}
.mob_menu.show > div {
  display: block;
}
.mob_menu > div > ul > li > a {
  display: block;
  padding: 17px 10px 17px 35px;
  text-decoration: none;
  font: 14px/20px ProbaProBold;
  text-transform: uppercase;
}
.mob_menu > div > ul li ul li.active a,
.mob_menu > div > ul li ul li a:hover {
  background: #fff;
  color: #294984;
}
.mob_menu > div > ul li ul li a {
  display: block;
  text-decoration: none;
  font: 16px/20px ProbaProRegular;
  padding: 14px 5px 14px 70px;
  color: #333333;
  position: relative;
  transition: 0.5s ease;
}
.mob_menu > div > ul li ul li.active:before,
.mob_menu > div > ul li ul li:hover:before {
  background: #ffe358;
}
.mob_menu > div > ul li ul li:before {
  content: '';
  position: absolute;
  float: left;
  left: 37px;
  top: 18px;
  bottom: 18px;
  width: 4px;
  background: #e4e9ee;
  transition: 0.5s ease;
  z-index: 1;
}
.mob_menu > div > ul li ul li {
  position: relative;
  padding-right: 10px;
}
.mob_menu > div > ul li.show {
  background: #f6fbff;
}
.mob_menu > div > ul li.show ul {
  display: block;
}
.mob_menu > div > ul li ul {
  display: none;
}
.mob_menu > div > ul > li {
  border-top: 1px solid #e4e9ee;
}
.mob_menu > div > ul {

}
.mob_menu > div {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: #fff;
}
.mob_menu .search button {
  background: image-url('search_ico1.png') 50% 50% no-repeat transparent;
  position: absolute;
  float: left;
  width: 64px;
  height: 55px;
  right: 0;
  top: 0;
  border: none;
  text-indent: -9999px;
}
.mob_menu .search input::-webkit-input-placeholder {color:inherit; opacity: 0;}
.mob_menu .search input::-moz-placeholder          {color:inherit; opacity: 0;}
.mob_menu .search input:-moz-placeholder           {color:inherit; opacity: 0;}
.mob_menu .search input:-ms-input-placeholder      {color:inherit; opacity: 0;}
.mob_menu .search input {
  height: 55px;
  box-sizing: border-box;
  display: block;
  font: 14px ProbaProRegular;
  padding: 0 64px 0 35px;
  width: 100%;
  border: none;
}
.mob_menu .search {
  position: relative;
  border-top: 1px solid #e4e9ee;
}
.mob_menu .soc a:hover {
  animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.mob_menu .soc a.yt:hover {
  background: image-url('soc_ico.png') -21px -38px no-repeat transparent;
}
.mob_menu .soc a.yt {
  width: 21px;
  height: 14px;
  background: image-url('soc_ico.png') 0 -38px no-repeat transparent;
}
.mob_menu .soc a.fb:hover {
  background: image-url('soc_ico.png') -21px -17px no-repeat transparent;
}
.mob_menu .soc a.fb {
  width: 13px;
  height: 21px;
  background: image-url('soc_ico.png') 0 -17px no-repeat transparent;
}
.mob_menu .soc a.tw:hover {
  background: image-url('soc_ico.png') -21px 0 no-repeat transparent;
}
.mob_menu .soc a.tw {
  width: 21px;
  height: 17px;
  background: image-url('soc_ico.png') 0 0 no-repeat transparent;
}
.mob_menu .soc a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}
.mob_menu .soc {
  padding: 22px 0 18px;
  text-align: center;
  font-size: 0;
  display: block;
  border-top: 1px solid #e4e9ee;
}
.mob_menu {
  display: none;
}
.find {
  padding: 0 5px;
  background: #ffe358;
  font-family: ProbaProBold;
}
.subtitle {
  font: 24px/32px ProbaProBold;
  color: #a3a3a3;
  padding-bottom: 25px;
}
.image-position-center {
  display: block;
  margin: 0 auto 10px;
}
.image-position-right {
  float: right;
  margin-left: 30px;
  margin-bottom: 10px;
}
.image-position-left {
  float: left;
  margin-right: 30px;
  margin-bottom: 10px;
}
