.pagination > li > span,
.pagination > li > a,
.pagination > li > span {
  background-color: transparent;
  color: #000000;
  opacity: 0.5;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: transparent;
  color: #000000;
  opacity: inherit;
}
.pagination > li.active > span,
.pagination > li.active > span:hover,
.pagination > li a:hover {
  background-color: transparent;
  color: #000;
  opacity: inherit;
}
