.file.prepend-icon.get-image {
  display: none;
}
.upload-msg {
  text-align: center;
  padding: 50px;
  font-size: 22px;
  color: #aaa;
  width: 260px;
  margin: 50px auto;
  border: 1px solid #aaa;
}
.upload-wrap {
  padding-top: 15px;
  display: none;
}
.gui-file {
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 8px 10px;
  position: absolute;
  -moz-opacity: 0;
  opacity: 0;
  z-index: 11;
  bottom: 0;
  right: 0;
}
